.spaced li {
    margin: 0 0 10px 0;
}

.shadow {
    box-shadow: 0 14px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19) !important;
}

.headline h2 {
    color: white;
    letter-spacing: 0.05em;
    font-variant: small-caps;
}

.reveal section img {
    background: none;
    border: none;
    box-shadow: none;
}

.reveal a {
    color: white;
}

.reveal a:hover {
    color: white;
    font-weight: bold;
}

.aboutmepic {
    border: none !important;
    box-shadow: none !important;
    -webkit-clip-path: circle(40% at 50% 50%);
    clip-path: circle(40% at 50% 50%);
    margin-right: 1em;
}

.aboutmetext {
    margin-left: 1em;
}

.books {
    height: 60%;
}